aside {
  margin-right: -10px;
  z-index: 50;
}

aside h3 {
  font-family: $header-font;
  letter-spacing: .3em;
}

aside p, aside a {
  font-family: $body-font;
}

aside ul {
    text-decoration: none;
    list-style: none;
}

.wrapper > div {
    padding-bottom: 20px;
}

.wrapper li {
    margin-bottom: 15px;
}
