//Extra elements

/* Extra #1 Plam Tree Right */
.extra1 {
  height: 500px;
  width: 300px;
  position: absolute;
  top: 500px;
  right: 0px;
  background-image: url("./assets/palmTreeRight.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
