//Extra elements

/* Extra #1 Plam Tree Right */
.extra1 {
  z-index: 9;
  height: 500px;
  width: 300px;
  position: absolute;
  top: 350px;
  right: 0px;
  background-image: url("./assets/palmTreeRight.svg");
  animation: shakeRight 5.5s infinite;
  background-repeat: no-repeat;
  background-size: contain;
}

// Coast
.extra5 {
  z-index: 13;
  background-image: url("./assets/coast.svg");
  content: "";
  height: 60px;
  position: absolute;
  top: 650px;
  padding: 0;
  margin: 0;
  left: 0;
  width: $body-width;
  // overflow: hidden;
  background-repeat: repeat;
  background-size: contain;
}

/* Grass Layers */
section:before {
  z-index: 15;
  background-image: url("./assets/grassback.svg");
  content: "";
  height: 60px;
  position: absolute;
  top: 660px;
  padding: 0;
  margin: 0;
  width: $body-width;
  background-repeat: repeat;
  background-size: contain;
}
section:after {
  z-index: 15;
  background-image: url("./assets/grassfront.svg");
  content: "";
  height: 60px;
  position: absolute;
  top: 680px;
  padding: 0;
  margin: 0;
  width: $body-width;
  background-repeat: repeat;
  background-size: contain;
}

@media (min-width: 700px) {

  /* Extra #2 Plam Tree Left */
  .extra2 {
      z-index: 11;
      height: 500px;
      width: 300px;
      position: absolute;
      top: 350px;
      left:-5px;
      background-image: url("./assets/palmTreeRight.svg");
      transform: scaleX(-1);
      animation: shakeLeft 5s infinite;
      background-repeat: no-repeat;
      background-size: contain;
  }

  // SUN
  .extra6 {
    z-index: 1;
    position: fixed;
    background-color: $sun;
    width: 4em;
    height: 4em;
    top: 500px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    animation: ripple 0.7s linear infinite;
  }
}

/* Water Extra 3 & 4 */
.extra3 { //FRONT WAVE
  background: url(./assets/waves-light.svg);
  position: absolute;
  top: 600px;
  left: -10px;
  z-index: 8;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: $body-width;
  animation: lightwaves 4s infinite;
  overflow: hidden;
}

.extra4 { //BACK WAVE
  background: url(./assets/waves-dark.svg);
  position: absolute;
  top: 580px;
  left: -10px;
  z-index: 7;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: $body-width;
  animation: darkwaves 3s infinite;
  overflow: hidden;
}

@media (max-width: 100px) {
  .extra3 {top: 640px;}
  .extra4 {top: 620px;}
}

@import 'animations';
