
html{
    display: grid;
}

body {
    grid-row-gap: 1.2vw;
//    grid-auto-flow: column;
}
    
header{
    padding: 0 $padding-mobile;    

    h1, h2{
        text-align: center;
    }
   
    h2 {
        margin-bottom: 0px;
    }
}

.intro header, .intro .summary {
    text-align: center;
    background-color: $background-header;
    padding: 0 $padding-mobile;
    
    p:first-of-type {
        margin-top: 0px;
        padding-top: 10px;   
    }
}

.main > div, .preamble, aside {
    border: 1px solid black;
    margin: 2vw;
    padding: 0 $padding-mobile 20px $padding-mobile;
    background-color: $background-article;
    
}

aside {
    top: 13px;
    background-color: $background-aside;
    box-shadow: 3px 3px 3px gray;
    padding: $padding-mobile;
}

footer{
    border: 1px solid black;
    margin: 2vw;
    padding: $padding-mobile;
    text-align: center;
    grid-area: foot;
}

// ---------------------------------------------------------------------------
//                               LARGER SCREEN
// ---------------------------------------------------------------------------

@media (min-width: 700px) {
    
    html{
        margin-top: 0px;
        margin-left: 0px;
        width: $body-width;
    }
    
    .page-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0.2fr 1.4fr 0.2fr;
        grid-template-areas: 
            ". topa" 
            "bodya side" 
            "foota foota";
    }
    
    #zen-supporting{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            ". one" 
            "two ." 
            ". three" 
            "four .";
        grid-area: bodya;
    }
    
//    body{
//        width: $body-width;
//    }
    

    
    .intro header, .intro .summary {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: ". . ." ". . .";
        grid-area: topa;
        
        h1, h2{
            text-align: right;
        }
        
        p:first-of-type {
            padding-top: 0px; 
            
//            padding-left: 50%;
        }
    }
    
    .preamble {
        
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "one ." ;
        grid-area: bodya ;
    }
    
    .main > div, .preamble, aside {

    }
    
    .intro header, .intro .summary {
        text-align: right;
    }
    
    .main > :nth-child(1), .preamble {
        grid-area: one ;
    }
    
    .main > :nth-child(2), .preamble {
        grid-area: two ;
    }
    
    .main > :nth-child(3) {
        grid-area: three ;
    }
    .main > :nth-child(4) {
        grid-area: four ;
    }
    
    aside {
         grid-area: side;
    }
    
    footer{
        grid-area: foota;
    }
}
