// header, header .summary {
//     height: 800px;
//     background-color: $purple;
//     background-image: linear-gradient($dark-purple, $med-purple, $purple, $red, $orange);
// }

section {
    min-height: 700px;
    background-color: $purple;
    background-image: linear-gradient($darkest-purple, $dark-purple, $med-purple, $purple, $red, $orange);
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#zen-preamble.preamble{
    position: relative;
    background: none;
    height:250px;
    padding: 0px 60% 80px 20px;

    // margin-left: -20px;
}

.summary {
    padding-left: 66% !important;
}

header h1 {
    font-family: $header-font;
    font-size: 34pt;
    margin-bottom: 0px;
}

header h2 {
    font-family: $body-font;
}

h3 {
    font-family: $header-font;
    letter-spacing: .3em;
}

p, a {
    font-family: $body-font;
}
