// header, header .summary {
//     height: 800px;
//     background-color: $purple;
//     background-image: linear-gradient($dark-purple, $med-purple, $purple, $red, $orange);
// }

section {
    min-height: 800px;
    background-color: $purple;
    background-image: linear-gradient($dark-purple, $med-purple, $purple, $red, $orange);
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.preamble{
    background: url("./assets/palmTreeLeft.svg");
    height:auto;
    padding-left: 20px;
    padding-bottom: 30px;

    // margin-left: -20px;
}
