html {
  background-image: url(./assets/tropical-flowers-sm.svg);
  background-color: $color-7;
  color: $color-8;
  margin: 0 -5px 0 0;
  padding-right: 0;
  // width: $body-width;
  min-height: calc(100vh - 70px);
  padding-bottom: $padding-full-sides*1.4;

  h1,h2,h3 {
    font-family: $header-font
  }
}

a{
 text-decoration: underline;
 color: inherit;
}


.main > div, .preamble, aside {
   padding: 20px;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "topa topa topa"
        "bodya bodya side"
        "bodya bodya side"
        "bodya bodya side"
        "bodya bodya side"
        "bodya bodya side";
}

#zen-supporting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        ". one"
        "two ."
        ". three"
        "four four"
        "foota foota";
    grid-area: bodya;
    background-image: url(./assets/tropical-flowers-sm.svg);
    z-index: 100;
    background-color: $color-7;
}

#zen-intro{
   grid-area: topa;
}

h3.select, #zen-supporting{
  padding-top: 30px;
}

.intro header,
.intro .summary {
    // background-color: $banner;
    margin-left: -10px;
    padding: 0 $padding-full-sides;
    h1,
    h2 {
        text-align: right;
    }

    p:first-of-type {
        padding-top: 0px;
    }
}

.preamble {
    z-index: 12;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: one;
    grid-area: bodya;
}

.intro header,
.intro .summary {
    text-align: right;
}

.main > :nth-child(1),
.preamble {
    grid-area: one;
    background-color: rgba(4,17,5,0.5);
    margin: 10px;
}

.main > :nth-child(2),
.preamble {
    grid-area: two;
    background-color: rgba(4,17,5,0.5);
    margin: 10px;
}

.main > :nth-child(3) {
    grid-area: three;
    background-color: rgba(4,17,5,0.5);
    margin: 10px;
}

.main > :nth-child(4) {
    grid-area: four;
    background-color: rgba(4,17,5,0.5);
    margin: 10px;
}

aside {
  background-color: $footer;
  background-color: rgba(4,17,5,0.8);
  grid-area: side;
}

footer {
   z-index: 500;
   padding: $padding-full $padding-full-sides;
   background: $footer;
   position: fixed;
   bottom: 0;
   margin-left: -10px;
   margin-right: 0;
   width: $body-width;
   text-align: center;
   padding: 20px 0;
   a{
     text-decoration: none;
     color: $color-8;
     padding: 0 10px;
     text-transform: uppercase;
   }
}
