html{
    background-image: url(./assets/tropical-flowers-sm.svg);
    display: grid;
    background-color: $color-7;
    color: $color-8;
    overflow-x: hidden;
}

body {
    grid-row-gap: 1.2vw;
}

a{
  text-decoration: underline;
  color: inherit;
}

/* HAEADER */
header{
    margin-top: -50px;
    padding: 0 $padding-mobile;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    h2 {
        margin-bottom: 0px;
    }
}

.intro {
  padding: $padding-mobile;
}

.intro header, .intro .summary {
    text-align: center;
    width: 100%;
    h1 {
      margin-left: -50px;
    }

    p:first-of-type {
        z-index: 3;
        margin-top: 0px;
        padding-top: 10px;
    }
}

s
#zen-preamble.preamble, .summary {
    z-index: 10;
    position: relative;
    // margin-left: 10px;
    padding-left: $padding-full !important;
    padding-right: $padding-full !important;
    text-align: center;
}

#zen-supporting{
  padding-right: 30px;
  margin-right: 80px;
}

#zen-intro {
  padding-left: 45px;
  padding-right: 45px;
}

.main > div, .preamble, aside {
    margin: 2vw;
    padding: 20px $padding-mobile 20px $padding-mobile;

}

section {
  margin-left: -8%;
  p {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  }
  &:before {
    z-index: 14;
  }
  &:before, &:after {
    margin-left: -40px;
  }
}


/* ASIDE */
aside {
    z-index: 15;
    top: 13px;
    background-color: rgba(70, 9, 66,.95);
    box-shadow: 3px 3px 3px black;
    padding: $padding-mobile-aside;
    position: fixed;
    top: -1px;
    right: -340px;
    color: white;
    transition: .5s ease-in-out;
    margin: 0px;
    width: 300px;

    &:hover {
     right: 0px;
    }

    &:hover:after {
      background-image: url(./assets/aside-arrow-right.png);
    }

    &:after {
        z-index: 10;
        background-color: #460942;
        background-image: url(./assets/aside-arrow-left.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 60px;
        right: 330px;
        position: absolute;
        top: 130px;
        width: 45px;
        border-left: 1px solid white;
        border-radius: 5px;
        transition: .5s ease-in-out;
      }

      a {
        color: $color-5;
      }
}



p {
    z-index: 3;
}

/* FOOTER */
footer{
    background-color: $footer;
    padding: $padding-mobile;
    text-align: center;
    grid-area: foot;
    margin-left: -10px;
}
