
html{
    display: grid;
}

body {
    grid-row-gap: 1.2vw;
//    grid-auto-flow: column;
}
    
header{
    padding: 0 $padding-mobile;    

    h1, h2{
        text-align: center;
    }
   
    h2 {
        margin-bottom: 0px;
    }
}

.intro header, .intro .summary {
    text-align: center;
    background-color: $background-header;
    padding: 0 $padding-mobile;
    
    p:first-of-type {
        margin-top: 0px;
        padding-top: 10px;   
    }
}

.main > div, .preamble, aside {
    border: 1px solid black;
    margin: 2vw;
    padding: 0 $padding-mobile 20px $padding-mobile;
    background-color: $background-article;
    
}

aside {
    top: 13px;
    background-color: $background-aside;
    box-shadow: 3px 3px 3px gray;
    padding: $padding-mobile;
}

footer{
    border: 1px solid black;
    margin: 2vw;
    padding: $padding-mobile;
    text-align: center;
    grid-area: foot;
}