$padding-full: 0.5vw;
$padding-full-sides: 2.5vw;
$padding-mobile: 2vw;
$padding-mobile-aside: 3vw;
$padding-articles: 20px;

$aside-top: 200px;
$aside-left: 200px;

$background-article: white;

$body-width-true: calc(100% + calc(100vw - 100%));
$body-width: 100vw;
$background-aside: white;

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Lato|Rock+Salt');
$header-font:"Rock Salt", serif;
$body-font: "Lato", sans-serif;
