// color palette - these colors will be the color swatches of the Colors section

$color-1: #460942; // Dark Purple 
$color-2: #5f0538; // Purple
$color-3: #811d5e; // Light Purple
$color-4: #fd2f24; // Red
$color-5: #ff6f01; // Orange
$color-6: #fed800; // Yellow


// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red
$black: #fff; 
$white: #000; 
